In [65]:
import pandas as pd
import os
import numpy as np
import cv2

In [66]:
# File name for the metadata to use in app.py
METADATA_FILE = 'labels.csv'
# ordering of columns in BOTH this file and app.py
YOLO_ORDER = ['label', 'x', 'y', 'w', 'h', 'image']
APP_ORDER = ['label', 'xmin', 'xmax', 'ymin', 'ymax', 'image']

In [67]:
# list of image names
image_files = [x for x in os.listdir('original_data/obj') if x[-4:] == '.jpg']
label_files = [x for x in os.listdir('original_data/obj') if x[-4:] == '.txt']

In [68]:
# Add one row for each label
# For each image
temp = []
for file in label_files:
    image_file = file[:-3] + 'jpg'
    try:
        with open('original_data/obj/' + file, encoding='utf-8') as f:
            for line in f.readlines():
                temp.append([item for item in line.strip('\n').split(' ')] + [image_file])
    except:
        continue
metadata = pd.DataFrame(temp, columns=YOLO_ORDER)
print('metadata created')

metadata created

In [69]:
metadata

,label,x,y,w,h,image
0,0,0.5021428571428571,0.5036101083032491,0.9814285714285714,0.9783393501805054,pos_156.jpg
1,1,0.500625,0.5034246575342466,0.94875,0.9598825831702544,pos_630.jpg
2,1,0.496,0.5188,0.7248,0.9352,pos_624.jpg
3,0,0.45859375,0.03611111111111111,0.0640625,0.06944444444444445,pos_1809.jpg
4,1,0.459765625,0.27152777777777776,0.11953125,0.2791666666666667,pos_1809.jpg
...,...,...,...,...,...,...
4724,0,0.414453125,0.11805555555555555,0.09921875,0.125,pos_1810.jpg
4725,1,0.478125,0.4375,0.46041666666666664,0.6375,pos_629.jpg
4726,1,0.443359375,0.4041666666666667,0.11484375,0.23333333333333334,pos_1804.jpg
4727,1,0.698046875,0.36180555555555555,0.08984375,0.2013888888888889,pos_1804.jpg
4728,1,0.48470588235294115,0.48470588235294115,0.6729411764705883,0.8352941176470589,pos_46.jpg

In [70]:
# Convert integer category label to object name string
metadata.loc[metadata['label'] == '0', 'label'] = 'Hard Hat'
metadata.loc[metadata['label'] == '1', 'label'] = 'Safety Vest'

In [71]:
# Convert string coordinates to float coordinates
metadata['x'] = metadata['x'].astype(float)
metadata['y'] = metadata['y'].astype(float)
metadata['w'] = metadata['w'].astype(float)
metadata['h'] = metadata['h'].astype(float)

In [72]:
for i in range(len(image_files)):
    image = cv2.imread('original_data/obj/' + image_files[i])
    h, w = image.shape[:2]
    metadata.loc[metadata['image'] == image_files[i], ['x', 'w']] *= w
    metadata.loc[metadata['image'] == image_files[i], ['y', 'h']] *= h

In [74]:
# Convert string coordinates to float coordinates
metadata['x'] = metadata['x'].astype(int)
metadata['y'] = metadata['y'].astype(int)
metadata['w'] = metadata['w'].astype(int)
metadata['h'] = metadata['h'].astype(int)

In [76]:
metadata

            label    x    y    w     h         image
0        Hard Hat  351  279  687   542   pos_156.jpg
1     Safety Vest  400  514  759   981   pos_630.jpg
2     Safety Vest  620  648  906  1169   pos_624.jpg
3        Hard Hat  587   25   82    50  pos_1809.jpg
4     Safety Vest  588  195  153   201  pos_1809.jpg
...           ...  ...  ...  ...   ...           ...
4724     Hard Hat  530   85  127    90  pos_1810.jpg
4725  Safety Vest  229  210  221   306   pos_629.jpg
4726  Safety Vest  567  291  147   168  pos_1804.jpg
4727  Safety Vest  893  260  115   145  pos_1804.jpg
4728  Safety Vest  412  412  572   710    pos_46.jpg

[4729 rows x 6 columns]

In [77]:
assert False

AssertionError:

In [75]:
# Save file
metadata.to_csv(METADATA_FILE, index=False)