In [2]:
import pandas as pd
import os

In [31]:
# list of image names
image_files = os.listdir('ppe_data/images')

In [32]:
label_files = os.listdir('ppe_data/labels')

In [33]:
labels_list = []
for file in label_files:
    with open('ppe_data/labels/' + file, 'r') as f:
        labels_list.append(f.readline().strip('\n').split(' '))

In [34]:
metadata = pd.DataFrame(labels_list, columns=['label', 'xmin', 'ymin', 'xmax', 'ymin'])

In [35]:
metadata['image'] = image_files

In [36]:
metadata.columns

Index(['label', 'xmin', 'ymin', 'xmax', 'ymin', 'image'], dtype='object')

In [37]:
metadata

,label,xmin,ymin,xmax,ymin,image
0,2,0.82,0.5149700598802395,0.328,0.9580838323353293,pos_530.jpg
1,1,0.8251953125,0.50048828125,0.328125,0.7861328125,pos_524.jpg
2,0,0.483203125,0.21805555555555556,0.06171875,0.10555555555555556,pos_242.jpg
3,0,0.5166666666666667,0.39566666666666667,0.7893333333333333,0.5473333333333333,neg_533.jpg
4,0,0.216,0.149,0.2613333333333333,0.126,pos_1260.jpg
...,...,...,...,...,...,...
366,2,0.813,0.5,0.374,1.0,pos_1682.jpg
367,2,0.908,0.6321321321321322,0.184,0.7357357357357357,pos_1912.jpg
368,0,0.4140625,0.12013888888888889,0.103125,0.12361111111111112,pos_1906.jpg
369,1,0.4864583333333333,0.44166666666666665,0.48541666666666666,0.6541666666666667,pos_2002.jpg
370,2,0.7977941176470589,0.639,0.40441176470588236,0.722,pos_1292.jpg

In [13]:
categories = pd.DataFrame({'Categories': ['safetyVest', 'hardHat', 'person']})

In [29]:
metadata.loc[metadata['label'] == 0, 'label'] = 'safetyVest'

In [30]:
metadata

,label,xmin,ymin,xmax,ymin,image
0,2,0.82,0.5149700598802395,0.328,0.9580838323353293,pos_530.jpg
1,1,0.8251953125,0.50048828125,0.328125,0.7861328125,pos_524.jpg
2,0,0.483203125,0.21805555555555556,0.06171875,0.10555555555555556,pos_242.jpg
3,0,0.5166666666666667,0.39566666666666667,0.7893333333333333,0.5473333333333333,neg_533.jpg
4,0,0.216,0.149,0.2613333333333333,0.126,pos_1260.jpg
...,...,...,...,...,...,...
366,2,0.813,0.5,0.374,1.0,pos_1682.jpg
367,2,0.908,0.6321321321321322,0.184,0.7357357357357357,pos_1912.jpg
368,0,0.4140625,0.12013888888888889,0.103125,0.12361111111111112,pos_1906.jpg
369,1,0.4864583333333333,0.44166666666666665,0.48541666666666666,0.6541666666666667,pos_2002.jpg
370,2,0.7977941176470589,0.639,0.40441176470588236,0.722,pos_1292.jpg

In [47]:
METADATA_FILE = 'labels.csv'
metadata = pd.read_csv(METADATA_FILE)

In [50]:
metadata.rename(columns={'ymin2':'ymax'}, inplace=True)

In [52]:
metadata.to_csv(METADATA_FILE, index=False)

In [51]:
metadata

          label      xmin      ymin      xmax      ymax         image
0        person  0.820000  0.514970  0.328000  0.958084   pos_530.jpg
1       hardHat  0.825195  0.500488  0.328125  0.786133   pos_524.jpg
2    safetyVest  0.483203  0.218056  0.061719  0.105556   pos_242.jpg
3    safetyVest  0.516667  0.395667  0.789333  0.547333   neg_533.jpg
4    safetyVest  0.216000  0.149000  0.261333  0.126000  pos_1260.jpg
..          ...       ...       ...       ...       ...           ...
366      person  0.813000  0.500000  0.374000  1.000000  pos_1682.jpg
367      person  0.908000  0.632132  0.184000  0.735736  pos_1912.jpg
368  safetyVest  0.414062  0.120139  0.103125  0.123611  pos_1906.jpg
369     hardHat  0.486458  0.441667  0.485417  0.654167  pos_2002.jpg
370      person  0.797794  0.639000  0.404412  0.722000  pos_1292.jpg

[371 rows x 6 columns]